extends layout/layout
block  variable
    - let pageTitle = 'Главная';
    - let pageName = 'main'; 

block content
    main.main.main-page
        .main-page__slider-banners
            .swiper.slider-banners
                //- Additional required wrapper
                .swiper-wrapper
                    //- Slides
                    .swiper-slide.slider-banners-slide
                        img.slider-banners__image(src=require("../img/content/slider-althaus_2024_2160x720-content.webp") alt="althaus")
                    .swiper-slide.slider-banners-slide
                        img.slider-banners__image(src=require("../img/content/slider-wmf_2024_2160x720-content.webp") alt="wmf")
                    .swiper-slide.slider-banners-slide
                        img.slider-banners__image(src=require("../img/content/slider-rancilio_2024_2160x720-content.webp") alt="rancilio")
                    .swiper-slide.slider-banners-slide
                        img.slider-banners__image(src=require("../img/content/slider-niktea_2024_2160x720-content.webp") alt="niktea")

                //- If we need navigation buttons
                .slider-banners__button.slider-banners__button-prev
                .slider-banners__button.slider-banners__button-next


        .main-page__slider-brands 
            .swiper.brands
                .swiper-wrapper.brands-wrapper
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-althaus-content.webp") alt="althaus")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-impassion-content.webp") alt="impassion")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-niktea-content.webp") alt="niktea collection")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-wmf-content.webp") alt="wmf")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-rancilio-content.webp") alt="rancilio")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-sweetshot-content.webp") alt="sweet shot")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-fiorengato-content.webp") alt="florengato")
                    .swiper-slide.brands__slide
                        img.brands__image(src=require("../img/content/brand-bravilor-content.webp") alt="bravilor bonamat")

        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_tea
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title чай
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Наша компания — ведущий поставщик элитного чая в России. Мы предлагаем как всемирно популярные сорта чая, так и эксклюзивные авторские купажи. Ассортимент продукции включает чай немецкого бренда премиум-класса Althaus и современную модную чайную коллекцию Niktea.
                        span Линейки брендов представлены различными сортами: черный чай, зеленый, травяной, фруктовый, улун, пуэр и другие. Мы предусмотрели несколько вариантов фасовки чая, которые гарантируют его сохранность в течение долгого времени и обеспечивают удобство заваривания: листовой чай, пакетированный чай для чайника, для чашки и в пирамидках.
                        span В нашем фирменном интернет-магазине вы можете купить чай как оптом, так и в розницу. Для ресторанов, кафе и отелей предусмотрены индивидуальные условия поставок продукции.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_coffee
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title кофе
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Наша компания является поставщиком высококачественного кофе и горячего шоколада от брендов с мировой известностью. Мы предлагаем: зерновой кофе, молотый кофе, кофе в чалдах и капсулах; 100% арабика и купажи арабики и робусты; горячий шоколад. В нашем ассортименте элитный итальянский кофе Lavazza и продукция нового современного бренда Impassion, представленная немецкой, итальянской и российской обжаркой.
                        span Каждый сорт представленного напитка уникален, он обладает неповторимым ароматом, оригинальными оттенками вкуса. В нашем фирменном интернет-магазине вы можете купить кофе оптом для ресторана, кафе, отеля и других заведений. Есть возможность заказать кофе для дома и приобрести его в розницу.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_equipment
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title профессиональное кофейное оборудование
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Мы поставляем высокотехнологичное, удобное и красивое кофейное оборудование от ведущих мировых производителей: <br> традиционные кофемашины Rancilio (Италия), суперавтоматические кофемашины WMF (Германия), фильтр-кофемашины, капсульные кофемашины, кофемолки и аксессуары. В нашем ассортименте вы найдете все, что необходимо для приготовления горячих напитков.
                        span Профессиональное кофейное оборудование, которое мы предлагаем, отличается высокой производительностью, надежностью, технологичностью, большим выбором модификаций и конкурентной ценой. У нас вы можете купить кофемашины для дома, офиса, АЗС, кафе, ресторанов и других заведений.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_syrups
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title сиропа
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Мы предлагаем широкий ассортимент сиропов высокого качества. Неотъемлемой частью портфеля брендов нашей компании являются широкоизвестный премиальный французский сироп Monin, а также Vedrenne и сиропы SweetShot – современная лаконичная линейка российского производства.
                        span Сиропы Monin - это премиальный французский бренд, который предлагает инновационные вкусовые решения, основанные на более чем столетнем опыте. В линейке бренда присутствует большое количество различных сиропов, которые выбирают профессиональные бариста и бармены для своего творчества.
                        span Французские сиропы Vedrenne на основе растительного сырья и соков прямого отжима — это линейка высококлассных сиропов, отличающихся натуральным вкусом, насыщенным ароматом и глубоким цветом. Сиропы SweetShot – это яркий и современный бренд, ассортимент которого составляют самые популярные фруктово-ягодные и десертные вкусы.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_training
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title обучение
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Обучение в нашей компании проводится по нескольким направлениям:
                    ul.main-page__article-text-list 
                        li.main-page__article-text-item Школа барменского искусства ArtBarLab — образовательно-консалтинговый проект, который совмещает в себе направления школы барменского дела, платформы подготовки персонала и консалтинга по оптимизации работы бара.
                        li.main-page__article-text-item Обучающие программы для ваших сотрудников — своим клиентам «Алеф Трейд МСК» предлагает бесплатные тренинги для бариста и официантов, на которых профессиональный тренинг-менеджер обучает ваш персонал готовить и подавать высококлассный кофе и чай.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        section.main-page__article-item 
            .main-page__article-img.main-page__article-img_service
            .main-page__article
                .main-page__wr-article-title 
                    h2.main-page__article-title сервис
                .main-page__wr-article-text 
                    p.main-page__article-text 
                        span Сервисная служба нашей компании имеет Сертификат официального сервисного партнера WMF и Rancilio на территории РФ и осуществляет полный цикл услуг по монтажу, технической поддержке, сервисному обслуживанию, чистке и ремонту кофемашин, а также проводит обучение персонала правильной эксплуатации оборудования.
                        span Обслуживание оборудования производится по всей России через сеть сервисных компаний партнеров, а в городах Санкт-Петербург, Самара и Краснодар - через собственные филиалы компании.
                        span Для сервисных компаний и дилеров мы предлагаем обучение технического персонала, с последующей сертификацией, а также поставку оригинальных запчастей и комплектующих для оборудования WMF, Rancilio и Mazzer.
                .main-page__wr-article-link 
                    a.main-page__article-link(href="#0" title="" target="_blank" rel="nofollow")
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                            <g clip-path="url(#clip0_9_13)">
                                <path d="M40 20C40 8.95416 31.0458 0 20 0C8.95416 0 0 8.95416 0 20C0 31.0458 8.95416 40 20 40C31.0458 40 40 31.0458 40 20Z" fill="url(#paint0_linear_9_13)"/>
                                <path d="M16 8L29 20.5L16 33" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_9_13" x1="0" y1="20" x2="40" y2="20" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#00F38D"/>
                                    <stop offset="1" stop-color="#009EFF"/>
                                </linearGradient>
                                <clipPath id="clip0_9_13">
                                    <rect width="40" height="40" fill="white" transform="matrix(1 0 0 -1 0 40)"/>
                                </clipPath>
                            </defs>
                        </svg>
        
        .main-page__paralax 
            section.main-page__about-us 
                .main-page__wr-title-about-us  
                    h2.main-page__title-about-us о нас  
                .main-page__wr-text-about-us
                    p.main-page__text-about-us
                        span «Алеф Трейд МСК» — ведущий российский поставщик горячих напитков премиум-класса и профессионального оборудования для их приготовления.
                        span Компания имеет 3 филиала: в Санкт-Петербурге, Самаре и Краснодаре, а также развитую региональную сеть по всей России — около 100 дистрибьюторов от Калининграда до Камчатки.